.animate-spin {
    border-right-color: transparent !important;
    border-left-color: transparent !important;
    border-top-color: #a21caf !important; /* purple-700 */
    border-bottom-color: #a21caf !important;
}