@page "/chart"
@inject IJSRuntime JsRuntime
<PageHeader Title="CoreAdminWeb" pTitle="Chart"></PageHeader>


<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Line Chart</MudText>
            <div id="linechart" dir="ltr"></div>
        </div>
        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Area Chart</MudText>
            <div id="areachart" dir="ltr"></div>
        </div>
        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Bar Chart</MudText>
            <div id="barchart" dir="ltr"></div>
        </div>
        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Simple Bar</MudText>
            <div id="simplebarchart" dir="ltr"></div>
        </div>
        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Bar Chart</MudText>
            <div id="barchartcenter" dir="ltr"></div>
        </div>
        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Spline Area Charts</MudText>
            <div id="apex_area1" dir="ltr"></div>
        </div>
        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Basic Donut</MudText>
            <div id="basicbonut" dir="ltr"></div>
        </div>
        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Doughnut chart</MudText>
            <div id="doughnutchart" dir="ltr"></div>
        </div>
    </div>
</div>
<!-- End All Card -->

@code {
    private IJSObjectReference? _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Load Dashboard JavaScript module
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "/assets/js/pages/apex.init.js");

            // Call JavaScript function to initialize dashboard
            //await JsRuntime.InvokeVoidAsync("initChart");
        }
    }
}
