@page "/formsinput"
@inject IJSRuntime JsRuntime
<PageHeader Title="Forms" pTitle="Forms Input"></PageHeader>

<link rel="stylesheet" href="assets/css/remixicon.css" />

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Basic Input Text</MudText>
            <form class="space-y-4">
                <input type="text" class="form-input" placeholder="Username" required>
                <MudButton type="submit" Class="btn bg-purple border-purple text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</MudButton>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Email Text</MudText>
            <form class="space-y-4">
                <input type="email" class="form-input" placeholder="Email Type" required>
                <MudButton type="submit" Class="btn bg-purple border-purple text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</MudButton>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Label Text</MudText>
            <form class="space-y-4">
                <div class="space-y-2">
                    <label>Type Username:</label>
                    <input type="text" class="form-input" placeholder="Username" required>
                </div>
                <MudButton type="submit" Class="btn bg-purple border-purple text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</MudButton>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Password Input</MudText>
            <form class="space-y-4">
                <input type="password" class="form-input" placeholder="Type Password" required>
                <MudButton type="submit" Class="btn bg-purple border-purple text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</MudButton>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Url Input</MudText>
            <form class="space-y-4">
                <input type="url" class="form-input" placeholder="https://dummyurl.com" required>
                <MudButton type="submit" Class="btn bg-purple border-purple text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</MudButton>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Search Input</MudText>
            <form class="space-y-4">
                <input type="search" class="form-input" placeholder="Search..." required>
                <MudButton type="submit" Class="btn bg-purple border-purple text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</MudButton>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Telephone Input</MudText>
            <form class="space-y-4">
                <input type="tel" class="form-input" placeholder="0-(000)-111-1111" required>
                <MudButton type="submit" Class="btn bg-purple border-purple text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</MudButton>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Rounded Input</MudText>
            <form class="space-y-4">
                <input type="text" class="rounded-full form-input" placeholder="Type Username" required>
                <MudButton type="submit" Class="btn bg-purple border-purple rounded-full text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</MudButton>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Fields Size</MudText>
            <form class="space-y-4">
                <div class="space-y-2">
                    <MudText>Large Input</MudText>
                    <input type="text" class="form-input h-14" placeholder="Username" required>
                </div>
                <div class="space-y-2">
                    <MudText>Default Input</MudText>
                    <input type="text" class="form-input" placeholder="Username" required>
                </div>
                <div class="space-y-2">
                    <MudText>Small Input</MudText>
                    <input type="text" class="h-10 form-input" placeholder="Username" required>
                </div>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Fields Size</MudText>
            <form class="space-y-4">
                <div class="items-center justify-between gap-4 space-y-2 sm:flex">
                    <MudText Class="w-24 shrink-0">Large Input</MudText>
                    <input type="text" class="form-input h-14" placeholder="Username" required>
                </div> 
                <div class="items-center justify-between gap-4 space-y-2 sm:flex">
                    <MudText Class="w-24 shrink-0">Default Input</MudText>
                    <input type="text" class="form-input" placeholder="Username" required>
                </div>
                <div class="items-center justify-between gap-4 space-y-2 sm:flex">
                    <MudText Class="w-24 shrink-0">Small Input</MudText>
                    <input type="text" class="h-10 form-input" placeholder="Username" required>
                </div>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Select Menu</MudText>
            <form>
                <select class="form-select">
                    <option>Select Option</option>
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                </select>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Select Menu</MudText>
            <form>
                <select size="4" multiple="multiple" class="h-auto form-multiselect">
                    <option>Select menu</option>
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                    <option>Four</option>
                    <option>Five</option>
                    <option>Six</option>
                </select>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Checkbox</MudText>
            <form class="space-y-4">
                <MudText Class="flex items-center cursor-pointer">
                    <input type="checkbox" class="form-checkbox" checked="checked">
                    <span>Checkbox</span>
                </MudText>
                <MudText Class="flex items-center cursor-pointer">
                    <input type="checkbox" class="form-checkbox" checked="checked">
                    <span>Checkbox</span>
                </MudText>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Radio</MudText>
            <form class="space-y-4">
                <MudText Class="flex items-center cursor-pointer">
                    <input type="radio" name="radio-one" class="rounded-full form-radio" checked="checked">
                    <span>One</span>
                </MudText>
                <MudText Class="flex items-center cursor-pointer">
                    <input type="radio" name="radio-one" class="rounded-full form-radio">
                    <span>Two</span>
                </MudText>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Disabled Radio & Checkbox</MudText>
            <form class="space-y-4">
                <MudText Class="flex items-center cursor-pointer">
                    <input type="radio" name="radio-one" disabled class="rounded-full form-radio" checked="checked">
                    <span>One</span>
                </MudText>
                <MudText Class="flex items-center cursor-pointer">
                    <input type="checkbox" class="form-checkbox" disabled checked="checked">
                    <span>Checkbox</span>
                </MudText>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Disabled Input</MudText>
            <form class="space-y-4">
                <input type="text" class="cursor-not-allowed form-input" placeholder="Username" required="" disabled>
            </form>
        </div>
    </div>
</div>
<!-- End All Card -->

@code {

}
