@page "/checkbox"
@inject IJSRuntime JsRuntime
<PageHeader Title="Froms" pTitle="Checkbox"></PageHeader>

<link rel="stylesheet" href="assets/css/remixicon.css" />

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Checkbox Default</MudText>
            <div class="grid grid-cols-1 gap-3">
                <MudText Class="inline-flex cursor-pointer">
@*                     <MudCheckBox T="bool" @bind-Checked="isChecked" Class="form-checkbox text-purple" Color="Color.Primary" />
 *@ 
                    <input type="checkbox" class="form-checkbox text-purple" checked />
                    <span>Primary</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox text-info" checked />
                    <span>Info</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox text-success" />
                    <span>Success</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox text-warning" />
                    <span>Warning</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox text-danger" />
                    <span>Danger</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="text-black form-checkbox" />
                    <span>Black</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox text-muted" />
                    <span>Muted</span>
                </MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Checkbox Rounded</MudText>
            <div class="grid grid-cols-1 gap-3">
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox text-purple" checked />
                    <span>Primary</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox text-info" checked />
                    <span>Info</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox text-success" />
                    <span>Success</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox text-warning" />
                    <span>Warning</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox text-danger" />
                    <span>Danger</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="text-black rounded-full form-checkbox" />
                    <span>Black</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox text-muted" />
                    <span>Muted</span>
                </MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Outline</MudText>
            <div class="grid grid-cols-1 gap-3">
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox outborder-purple" checked />
                    <span>Primary</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox outborder-info" checked />
                    <span>Info</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox outborder-success" />
                    <span>Success</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox outborder-warning" />
                    <span>Warning</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox outborder-danger" />
                    <span>Danger</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox outborder-black" />
                    <span>Black</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox outborder-muted" />
                    <span>Muted</span>
                </MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Outline Rounded</MudText>
            <div class="grid grid-cols-1 gap-3">
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox outborder-purple" checked />
                    <span>Primary</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox outborder-info" checked />
                    <span>Info</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox outborder-success" />
                    <span>Success</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox outborder-warning" />
                    <span>Warning</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox outborder-danger" />
                    <span>Danger</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox outborder-black" />
                    <span>Black</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="rounded-full form-checkbox outborder-muted" />
                    <span>Muted</span>
                </MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Checkbox With Text Color</MudText>
            <div class="grid grid-cols-1 gap-3">
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer text-purple" checked />
                    <span class="peer-checked:text-purple">Primary</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer text-info" checked />
                    <span class="peer-checked:text-info">Info</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer text-success" />
                    <span class="peer-checked:text-success">Success</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer text-warning" />
                    <span class="peer-checked:text-warning">Warning</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer text-danger" />
                    <span class="peer-checked:text-danger">Danger</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="text-black form-checkbox peer" />
                    <span class="peer-checked:text-black">Black</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer text-muted" />
                    <span class="peer-checked:text-muted">Muted</span>
                </MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Outline Checkbox With Text Color</MudText>
            <div class="grid grid-cols-1 gap-3">
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer outborder-purple" checked />
                    <span class="peer-checked:text-purple">Primary</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer outborder-info" checked />
                    <span class="peer-checked:text-info">Info</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer outborder-success" />
                    <span class="peer-checked:text-success">Success</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer outborder-warning" />
                    <span class="peer-checked:text-warning">Warning</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer outborder-danger" />
                    <span class="peer-checked:text-danger">Danger</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer outborder-black" />
                    <span class="peer-checked:text-black">Black</span>
                </MudText>
                <MudText Class="inline-flex cursor-pointer">
                    <input type="checkbox" class="form-checkbox peer outborder-muted" />
                    <span class="peer-checked:text-muted">Muted</span>
                </MudText>
            </div>
        </div>
    </div>
</div>
<!-- End All Card -->

@code {
    private bool? isChecked = true; // Set the default state to checked

}
