@page "/validation"
@inject IJSRuntime JsRuntime
<PageHeader Title="Froms" pTitle="Validation"></PageHeader>

<link rel="stylesheet" href="assets/css/remixicon.css" />
<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Validation Wrong</MudText>
            <form class="space-y-4">
                <div>
                    <input type="text" placeholder="First Name" class="form-input text-danger !border-danger placeholder:text-danger" required />
                    <MudText Class="mt-1 text-danger">Please fill the Name</MudText>
                </div>
                <div>
                    <input type="email" placeholder="Email Type" class="form-input" required />
                </div>
                <div>
                    <input type="password" placeholder="Password" class="form-input" required />
                </div>
                <div>
                    <input type="password" placeholder="Confirm Password" class="form-input" required />
                </div>
                <div>
                    <MudButton type="submit" Class="btn bg-purple border-purple text-white hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</MudButton>
                </div>
            </form>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Validation Complete</MudText>
            <form class="space-y-4">
                <div>
                    <input type="text" placeholder="First Name" class="form-input text-success !border-success placeholder:text-success" required />
                    <MudText Class="mt-1 text-success">Please fill the Name</MudText>
                </div>
                <div>
                    <input type="email" placeholder="Email Type" class="form-input" required />
                </div>
                <div>
                    <input type="password" placeholder="Password" class="form-input" required />
                </div>
                <div>
                    <input type="password" placeholder="Confirm Password" class="form-input" required />
                </div>
                <div>
                    <button type="submit" class="btn bg-purple border-purple text-white hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</button>

                    <MudButton type="submit" Class="btn bg-purple border-purple text-white hover:bg-purple/[0.85] hover:border-purple/[0.85]">Submit</MudButton>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End All Card -->

@code {
    private IJSObjectReference? _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Load Dashboard JavaScript module
            _module = await JsRuntime.InvokeAsync<IJSObjectReference>("import", "/assets/js/pages/form-editor.js");

            // Call JavaScript function to initialize dashboard
            //await JsRuntime.InvokeVoidAsync("initChart");
        }
    }
}
