@page "/clipboard"
@inject IJSRuntime JsRuntime
<PageHeader Title="Components" pTitle="Clipboard"></PageHeader>


<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">Copy from input</MudText>
            <div class="flex flex-col gap-4">
                <input type="text" x-ref="inputField1" class="form-input" value="Hello, world!">
                <div class="flex flex-wrap gap-4">
                    <div class="flex flex-wrap gap-4">
                        <MudButton OnClick="CopyToClipboard"
                                   Class="btn bg-purple border border-purple rounded-md text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]"
                                   Color="Color.Primary">
                            Copy
                        </MudButton>

                        <MudButton OnClick="CutToClipboard"
                                   Class="btn bg-light border border-light rounded-md text-black transition-all duration-300 hover:bg-light/[0.85] hover:border-light/[0.85]"
                                   Color="Color.Secondary">
                            Cut
                        </MudButton>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-4 text-base font-semibold text-black capitalize dark:text-white/80">Copy form Textarea</MudText>
            <div class="flex flex-col gap-4">
                <textarea type="text" x-ref="inputField2" class="h-auto form-textarea" rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</textarea>
                <div class="flex flex-wrap gap-4">
                    <MudButton @onclick="CopyTo" Class="btn bg-purple border border-purple rounded-md text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]">Copy</MudButton>
                    <MudButton @onclick="CutTo" Class="btn bg-light border border-light rounded-md text-black transition-all duration-300 hover:bg-light/[0.85] hover:border-light/[0.85]">Cut</MudButton>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End All Card -->
@code {
    private ElementReference? inputField1;
    private ElementReference? inputField2;

    private async Task CopyToClipboard()
    {
        await JsRuntime.InvokeVoidAsync("copyToClipboard", "inputField1");
    }

    private async Task CutToClipboard()
    {
        await JsRuntime.InvokeVoidAsync("cutToClipboard", "inputField1");
    }

    private async Task CopyTo()
    {
        await JsRuntime.InvokeVoidAsync("copyTo", "inputField2");
    }

    private async Task CutTo()
    {
        await JsRuntime.InvokeVoidAsync("cutTo", "inputField2");
    }
}