@page "/modals"
@inject IJSRuntime JsRuntime
@using Microsoft.AspNetCore.Components.Web
<PageHeader Title="Components" pTitle="Modals"></PageHeader>

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]" x-data="modals">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Basic Modal</MudText>
            <div>
                <div class="flex items-center justify-center">
                    <MudButton Class="btn bg-purple border border-purple rounded-md text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]" OnClick="ToggleModal">
                        Launch modal
                    </MudButton>
                </div>

                @if (open)
                {
                    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
                        <div class="flex items-start justify-center min-h-screen px-4" @onclick="CloseModal">
                            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                                    <MudText Typo="Typo.h5" Class ="text-lg font-semibold text-slate-800 dark:text-slate-100">Basic Modal</MudText>
                                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="ToggleModal">
                                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                                        </svg>
                                    </MudButton>
                                </div>
                                <div class="p-5 space-y-4">
                                    <div class="text-black dark:text-muted">
                                        <MudText Class="text-muted">Lorem Ipsum is simply and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</MudText>
                                    </div>
                                    <div class="flex items-center justify-end gap-4">
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseModal">Discard</MudButton>
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Save</MudButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
     

        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Vertically Centered</MudText>
            <div>
                <div class="flex items-center justify-center">
                    <MudButton Class="text-black transition-all duration-300 border rounded-md btn border-light hover:bg-light hover:text-black dark:text-white dark:hover:text-black" OnClick="ToggleModal1">
                        Launch modal
                    </MudButton>
                </div>
                @if (open1)
                {
                    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
                        <div class="flex items-center justify-center min-h-screen px-4" @onclick="CloseModal1">
                            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                                    <MudText Typo="Typo.h5" Class ="text-lg font-semibold text-slate-800 dark:text-slate-100">Vertically Centered</MudText>
                                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="ToggleModal1">
                                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                                        </svg>
                                    </MudButton>
                                </div>
                                <div class="p-5 space-y-4">
                                    <div class="text-black dark:text-muted">
                                        <MudText Class="text-muted">Lorem Ipsum is simply typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</MudText>
                                    </div>
                                    <div class="flex items-center justify-end gap-4">
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseModal1">Discard</MudButton>
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Save</MudButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Vertically Bottom</MudText>
            <div>
                <div class="flex items-center justify-center">
                    <MudButton Class="text-black transition-all duration-300 border rounded-md btn border-light hover:bg-light hover:text-black dark:text-white dark:hover:text-black" OnClick="ToggleModal2">
                        Launch modal
                    </MudButton>
                </div>
                @if (open2)
                {
                    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
                        <div class="flex items-end justify-center min-h-screen px-4" @onclick="CloseModal2">
                            <!-- Changed to items-end for bottom alignment -->
                            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                                    <MudText Typo="Typo.h5" Class ="text-lg font-semibold text-slate-800 dark:text-slate-100">Vertically Bottom</MudText>
                                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="ToggleModal2">
                                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                                        </svg>
                                    </MudButton>
                                </div>
                                <div class="p-5 space-y-4">
                                    <div class="text-black dark:text-muted">
                                        <MudText Class="text-muted">Lorem Ipsum is simply typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</MudText>
                                    </div>
                                    <div class="flex items-center justify-end gap-4">
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseModal2">Discard</MudButton>
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Save</MudButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


     @*    <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Static Modal</MudText>
            <div>
                <div class="flex items-center justify-center">
                    <!-- Launch modal button -->
                    <MudButton Class="btn bg-purple border border-purple rounded-md text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]" OnClick="ToggleModal">
                        Launch modal
                    </MudButton>
                </div>

                <!-- Modal window conditionally rendered when open -->
                @if (open)
                {
                    <div class="fixed inset-0 bg-black/80 z-[99999] hidden overflow-y-auto dark:bg-dark/90">
                        <div class="flex items-start justify-center min-h-screen px-4" @onclick="CloseModal">
                            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg shadow-3xl border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                                    <MudText Typo="Typo.h5" Class ="text-lg font-semibold text-slate-800 dark:text-slate-100">Static Modal</MudText>
                                    <!-- Close button in the modal -->
                                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="ToggleModal">
                                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                                        </svg>
                                    </MudButton>
                                </div>

                                <!-- Modal content -->
                                <div class="p-5 space-y-4">
                                    <div class="text-black dark:text-muted">
                                        <MudText Class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</MudText>
                                    </div>
                                    <div class="flex items-center justify-end gap-4">
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseModal">Discard</MudButton>
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Save</MudButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div> *@

        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Static Modal</MudText>
            <div>
                <div class="flex items-center justify-center">
                    <!-- Launch modal button -->
                    <MudButton Class="btn bg-purple border border-purple rounded-md text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]" OnClick="ToggleModal">
                        Launch modal
                    </MudButton>
                </div>

                <!-- Modal window conditionally rendered when open -->
                @if (open)
                {
                    <div class="fixed inset-0 bg-black/80 z-[99999] hidden overflow-y-auto dark:bg-dark/90">
                        <div class="flex items-start justify-center min-h-screen px-4" @onclick="CloseModal">
                            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg shadow-3xl border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                                    <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">Static Modal</MudText>
                                    <!-- Close button in the modal -->
                                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="ToggleModal">
                                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                                        </svg>
                                    </MudButton>
                                </div>

                                <!-- Modal content -->
                                <div class="p-5 space-y-4">
                                    <div class="text-black dark:text-muted">
                                        <MudText Class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</MudText>
                                    </div>
                                    <div class="flex items-center justify-end gap-4">
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseModal">Discard</MudButton>
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Save</MudButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Removed Animation</MudText>
            <div>
                <div class="flex items-center justify-center">
                    <!-- Launch modal button -->
                    <MudButton type="button" Class="btn bg-purple border border-purple rounded-md text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]" OnClick="ToggleModal3">
                        Launch modal
                    </MudButton>
                </div>

                <!-- Modal window conditionally rendered when open -->
                @if (open3)
                {
                    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90" >
                        <div class="flex items-start justify-center min-h-screen px-4" @onclick="CloseModal3">
                            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                                    <MudText Typo="Typo.h5" Class ="text-lg font-semibold text-slate-800 dark:text-slate-100">Removed Animation</MudText>
                                    <!-- Close button in the modal -->
                                    <MudButton type="button" Class="text-muted hover:text-black dark:hover:text-white" OnClick="ToggleModal3">
                                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                                        </svg>
                                    </MudButton>
                                </div>
                                <div class="p-5 space-y-4">
                                    <div class="text-black dark:text-muted">
                                        <MudText Class="text-muted">Lorem Ipsum is simply typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</MudText>
                                    </div>
                                    <div class="flex items-center justify-end gap-4">
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseModal3">Discard</MudButton>
                                        <MudButton Class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Save</MudButton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Scrollable Modal</MudText>
            <div>
                <div class="flex items-center justify-center">
                    <MudButton Class="text-black transition-all duration-300 border rounded-md btn border-light hover:bg-light hover:text-black dark:text-white dark:hover:text-black" OnClick="ToggleModal4">
                        Launch modal
                    </MudButton>
                </div>

                @if (open4)
                {
                    <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90" @onclick="CloseModal4">
                        <div class="flex items-start justify-center min-h-screen px-4">
                            <div class="relative w-full max-w-lg p-0 my-8 overflow-hidden bg-white border rounded-lg border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                                <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                                    <MudText Typo="Typo.h5" Class ="text-lg font-semibold text-slate-800 dark:text-slate-100">Scrollable Modal</MudText>
                                    <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="ToggleModal4">
                                        <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                                            <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                                        </svg>
                                    </MudButton>
                                </div>
                                <div class="p-5 space-y-4 h-48 min-h-full overflow-y-auto text-black dark:text-muted">
                                    <MudText Class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</MudText>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <MudText Class="text-muted">Lorem Ipsum is simply dummy text of the industry.</MudText>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <MudText Class="text-muted">Lorem Ipsum is simply dummy text of the industry.</MudText>
                                    <!-- Repeat content as needed for scrollable area -->
                                </div>
                                <div class="flex items-center justify-end gap-4 p-5 border-t border-black/10 dark:border-darkborder">
                                    <MudButton Class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseModal4">Discard</MudButton>
                                    <MudButton Class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Save</MudButton>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Modal Sizes</MudText>
            <div class="flex flex-wrap justify-center gap-4">
                <div>
                    <!-- Button to trigger modal -->
                    <div class="flex items-center justify-center">
                        <MudButton Class="text-black transition-all duration-300 border rounded-md btn border-light hover:bg-light hover:text-black dark:text-white dark:hover:text-black" OnClick="ToggleModal5">
                            Small Modal
                        </MudButton>
                    </div>

                    <!-- Modal Content -->
                    @if (isModalOpen)
                    {
                        <div class="fixed inset-0 bg-black/80 z-[99999] overflow-y-auto dark:bg-dark/90">
                            <div class="flex items-start justify-center min-h-screen px-4 py-6" @onclick="CloseModal5">
                                <div class="relative w-full max-w-sm p-0 my-8 overflow-hidden bg-white border rounded-lg shadow-3xl border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                                    <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                                        <MudText Typo="Typo.h5" Class ="text-lg font-semibold text-slate-800 dark:text-slate-100">Small Modal</MudText>
                                        <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="ToggleModal5">
                                            <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                                                <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                                            </svg>
                                        </MudButton>
                                    </div>
                                    <div class="p-5 space-y-4">
                                        <div class="text-black dark:text-muted">
                                            <MudText Class="text-muted">Lorem Ipsum is simply typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</MudText>
                                        </div>
                                        <div class="flex items-center justify-end gap-4">
                                            <MudButton Class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseModal5">Discard</MudButton>
                                            <MudButton Class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Save</MudButton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
           
                <div>
                    <div class="flex items-center justify-center">
                        <MudButton Class="text-black transition-all duration-300 border rounded-md btn border-light hover:bg-light hover:text-black dark:text-white dark:hover:text-black" OnClick="ToggleModal6">Large modal</MudButton>
                    </div>
                      <!-- Modal Content -->
                    @if (isModalOpen1)
                    {
                        <div class="fixed inset-0 bg-black/80 z-[99999]  overflow-y-auto dark:bg-dark/90" >
                            <div class="flex items-start justify-center min-h-screen px-4" @onclick="CloseModal6">
                                <div class="relative w-full max-w-xl p-0 my-8 overflow-hidden bg-white border rounded-lg shadow-3xl border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                                    <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                                        <MudText Typo="Typo.h5" Class ="text-lg font-semibold text-slate-800 dark:text-slate-100">Large Modal</MudText>
                                        <MudButton type="button" Class="text-muted hover:text-black dark:hover:text-white" OnClick="ToggleModal6">
                                            <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                                                <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                                            </svg>
                                        </MudButton>
                                    </div>
                                    <div class="p-5 space-y-4">
                                        <div class="text-black dark:text-muted">
                                            <MudText Class="text-muted">Lorem Ipsum is simply typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</MudText>
                                        </div>
                                        <div class="flex items-center justify-end gap-4">
                                            <MudButton Class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseModal6">Discard</MudButton>
                                            <MudButton  Class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Save</MudButton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div>
                    <div class="flex items-center justify-center">
                        <MudButton  Class="text-black transition-all duration-300 border rounded-md btn border-light hover:bg-light hover:text-black dark:text-white dark:hover:text-black" OnClick="ToggleModal7">Extra Large modal</MudButton>
                    </div>
                    @if (isModalOpen2)
                    {
                        <div class="fixed inset-0 bg-black/80 z-[99999]  overflow-y-auto dark:bg-dark/90" >
                            <div class="flex items-start justify-center min-h-screen px-4" @onclick="CloseModal7">
                                <div class="relative w-full max-w-5xl p-0 my-8 overflow-hidden bg-white border rounded-lg shadow-3xl border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                                    <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                                        <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">Extra Large Modal</MudText>
                                        <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="ToggleModal7">
                                            <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                                                <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                                            </svg>
                                        </MudButton>
                                    </div>
                                    <div class="p-5 space-y-4">
                                        <div class="text-black dark:text-muted">
                                            <MudText Class="text-muted">Lorem Ipsum is simply typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</MudText>
                                        </div>
                                        <div class="flex items-center justify-end gap-4">
                                            <MudButton Class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseModal7">Discard</MudButton>
                                            <MudButton Class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Save</MudButton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="p-5 bg-white border rounded border-black/10 dark:bg-darklight dark:border-darkborder">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100 d-none">Modal Fullscreen</MudText>
            <div class="flex flex-wrap justify-center gap-4">
                <div>
                    <div class="flex items-center justify-center">
                        <MudButton Class="btn bg-purple border border-purple rounded-md text-white transition-all duration-300 hover:bg-purple/[0.85] hover:border-purple/[0.85]" OnClick="ToggleModal8">Full Screen modal</MudButton>
                    </div>
                    @if (isModalOpen3)
                    {
                        <div class="fixed inset-0 bg-black/80 z-[99999]  overflow-y-auto dark:bg-dark/90" >
                            <div class="flex items-stretch justify-center min-h-screen" @onclick="CloseModal8">
                                <div class="relative w-full p-0 overflow-hidden bg-white border rounded-lg shadow-3xl border-black/10 dark:bg-darklight dark:border-darkborder" @onclick:stopPropagation>
                                    <div class="flex items-center justify-between px-5 py-3 bg-white border-b border-black/10 dark:bg-darklight dark:border-darkborder">
                                        <MudText Typo="Typo.h5" Class="text-lg font-semibold text-slate-800 dark:text-slate-100">Fullscreen Modal</MudText>
                                        <MudButton Class="text-muted hover:text-black dark:hover:text-white" OnClick="ToggleModal8">
                                            <svg class="w-5 h-5" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M24.2929 6.29289L6.29289 24.2929C6.10536 24.4804 6 24.7348 6 25C6 25.2652 6.10536 25.5196 6.29289 25.7071C6.48043 25.8946 6.73478 26 7 26C7.26522 26 7.51957 25.8946 7.70711 25.7071L25.7071 7.70711C25.8946 7.51957 26 7.26522 26 7C26 6.73478 25.8946 6.48043 25.7071 6.29289C25.5196 6.10536 25.2652 6 25 6C24.7348 6 24.4804 6.10536 24.2929 6.29289Z" fill="currentcolor" />
                                                <path d="M7.70711 6.29289C7.51957 6.10536 7.26522 6 7 6C6.73478 6 6.48043 6.10536 6.29289 6.29289C6.10536 6.48043 6 6.73478 6 7C6 7.26522 6.10536 7.51957 6.29289 7.70711L24.2929 25.7071C24.4804 25.8946 24.7348 26 25 26C25.2652 26 25.5196 25.8946 25.7071 25.7071C25.8946 25.5196 26 25.2652 26 25C26 24.7348 25.8946 24.4804 25.7071 24.2929L7.70711 6.29289Z" fill="currentcolor" />
                                            </svg>
                                        </MudButton>
                                    </div>
                                    <div class="p-5 space-y-4 min-h-[calc(100vh-53px)] flex flex-col justify-between">
                                        <div class="text-black dark:text-muted">
                                            <MudText Class="text-muted">Lorem Ipsum is simply typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</MudText>
                                        </div>
                                        <div class="flex items-center justify-end gap-4">
                                            <MudButton Class="transition-all duration-300 border rounded-md btn text-danger border-danger hover:bg-danger hover:text-white" OnClick="CloseModal8">Discard</MudButton>
                                            <MudButton  Class="transition-all duration-300 border rounded-md btn text-purple border-purple hover:bg-purple hover:text-white">Save</MudButton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End All Card -->


@code {

    private bool open = false;
    private bool open1 = false;
    private bool open2 = false;
    private bool open3 = false;
    private bool open4 = false;
    private bool isModalOpen = false;
    private bool isModalOpen1 = false;
    private bool isModalOpen2 = false;
    private bool isModalOpen3 = false;

    private void ToggleModal()
    {
        open = !open;
    }

    private void CloseModal()
    {
        open = false;
    }
   
    private void ToggleModal1()
    {
        open1 = !open1;
    }

    private void CloseModal1()
    {
        open1 = false;
    }
    private void ToggleModal2()
    {
        open2 = !open2;
    }

    private void CloseModal2()
    {
        open2 = false;
    }
    private void ToggleModal3()
    {
        open3 = !open3;
    }

    private void CloseModal3()
    {
        open3 = false;
    }
    private void ToggleModal4()
    {
        open4 = !open4;
    }

    private void CloseModal4()
    {
        open4 = false;
    }
    private void ToggleModal5()
    {
        isModalOpen = !isModalOpen;
    }

    private void CloseModal5()
    {
        isModalOpen = false;
    }
    private void ToggleModal6()
    {
        isModalOpen1 = !isModalOpen1;
    }

    private void CloseModal6()
    {
        isModalOpen1 = false;
    }
    private void ToggleModal7()
    {
        isModalOpen2 = !isModalOpen2;
    }

    private void CloseModal7()
    {
        isModalOpen2 = false;
    }
    private void ToggleModal8()
    {
        isModalOpen3 = !isModalOpen3;
    }

    private void CloseModal8()
    {
        isModalOpen3 = false;
    }
}
