@page "/typography"
@inject IJSRuntime JsRuntime
<PageHeader Title="Elements" pTitle="Typography"></PageHeader>

<!-- Start All Card -->
<div class="flex flex-col gap-4 min-h-[calc(100vh-212px)]">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Headings</MudText>
            <div class="flex flex-col gap-3">
                <MudText Typo="Typo.h1" Class="text-4xl font-semibold">CoreAdminWeb heading</MudText>
                <MudText Typo="Typo.h2" Class="text-3xl font-semibold">CoreAdminWeb heading</MudText>
                <MudText Typo="Typo.h3" Class="text-2xl font-semibold">CoreAdminWeb heading</MudText>
                <MudText Typo="Typo.h4" Class="text-xl font-semibold">CoreAdminWeb Headings</MudText>
                <MudText Typo="Typo.h5" Class="text-lg font-semibold">CoreAdminWeb heading</MudText>
                <MudText Typo="Typo.h6" Class="text-sm font-semibold">CoreAdminWeb heading</MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Font Weight</MudText>
            <div class="flex flex-col gap-3">
                <MudText Class="text-lg font-light">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="text-lg font-normal">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="text-lg font-medium">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="text-lg font-semibold">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="text-lg font-bold">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Text Left</MudText>
            <div class="ltr:text-left rtl:text-right">
                <MudText>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Text Center</MudText>
            <div class="text-center">
                <MudText>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Text Right</MudText>
            <div class="ltr:text-right rtl:text-left">
                <MudText>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Text Justify</MudText>
            <div class="text-justify">
                <MudText>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable but the majority have suffered alteration in some form, by injected humour.</MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Text Color</MudText>
            <div class="flex flex-col gap-3">
                <MudText Class="text-purple">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="text-info">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="text-success">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="text-warning">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="text-danger">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="text-black">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="text-muted">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="text-light">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Text Decoration</MudText>
            <div class="flex flex-col gap-3">
                <MudText Class="underline">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="overline">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="line-through">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="underline decoration-double">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="underline decoration-wavy">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="underline decoration-4">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="underline decoration-dotted">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
                <MudText Class="underline decoration-dashed">CoreAdminWeb - TailwindCSS Admin & Dashboard</MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Text Transforming</MudText>
            <div class="flex flex-col gap-3">
                <MudText Class="normal-case">CoreAdminWeb Tailwind Admin</MudText>
                <MudText Class="uppercase">CoreAdminWeb Tailwind Admin</MudText>
                <MudText Class="lowercase">CoreAdminWeb Tailwind Admin</MudText>
                <MudText Class="capitalize">CoreAdminWeb Tailwind Admin</MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Text Indent</MudText>
            <div>
                <MudText Class="indent-10">So I started to walk into the water. I won't lie to you boys, I was terrified. But I pressed on, and as I made my way past the breakers a strange calm came over me. I don't know if it was divine intervention or the kinship of all living things but I tell you Jerry at that moment, I was a marine biologist.</MudText>
            </div>
        </div>
        <div class="card">
            <MudText Typo="Typo.h2" Class="mb-1 text-base font-semibold capitalize text-slate-800 dark:text-slate-100">Text Truncate</MudText>
            <div>
                <MudText Class="truncate">So I started to walk into the water. I won't lie to you boys, I was terrified. But I pressed on, and as I made my way past the breakers a strange calm came over me. I don't know if it was divine intervention or the kinship of all living things but I tell you Jerry at that moment, I was a marine biologist.</MudText>
            </div>
        </div>
    </div>
</div>
<!-- End All Card -->

@code {

}
