<!-- Start Footer -->
<footer class="py-2 text-center text-black dark:text-darkmuted">
    <div class="flex justify-between items-center">
        <!-- Left Side -->
        <div class="text-left">
            &copy; <span>@FullYear</span> Sở Nông Nghiệp và Môi trường Tỉnh Quảng Trị.

        </div>

        
    </div>
</footer>
<!-- End Footer -->
@code {
    private string FullYear { get; set; } = DateTime.Now.Year.ToString();
}
